<!Doctype html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site serves you the Weather details based on the location entered.Weather details are fetched using the APIs provided by Mapbox and Weatherstack.com
        </p>
        <img class="portrait" src="/images/developer.jpg">
        </div>

        {{>footer}}       
    </body>
</html>