<!Doctype html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}</br>
        <img class="portrait" src="/images/developer.jpg">
        </div>

        {{>footer}}       
    </body>
</html>